@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  :focus {
    outline: none;
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(253, 53%, 59%);
    --input: hsl(214.3 31.8% 91.4%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(253, 53%, 59%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(240, 5%, 96%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 100% 50%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --header: rgb(249 250 251 / 0.9);

    --radius: 0.5rem;

    --md-editor-bg: #f4f4f5;
    --md-editor-text: hsl(222.2 47.4% 11.2%);
    --md-editor-separator: #bcbcbe;
    --md-editor-border: #f4f4f5;
  }

  .dark {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(224, 20%, 19%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);

    --border: hsl(253, 53%, 59%);
    --input: hsl(216 34% 17%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 1.2%);

    --secondary: hsl(253, 53%, 59%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(214, 9%, 15%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(216 34% 17%);

    --header: rgba(0, 0, 0, 0.8);

    --radius: 0.5rem;

    --md-editor-bg: #27272a;
    --md-editor-text: hsl(210 40% 98%);
    --md-editor-separator: #4b4b4d;
    --md-editor-border: #27272a;
  }
}

@layer components {
}


.custom-table thead tr th {
  @apply py-2.5 px-2;
}
.custom-table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.custom-table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.custom-table tbody tr {
  @apply border-b-1 border-solid border-[#E2E8F0] dark:border-[#121212];
}
.custom-table tbody tr td {
  @apply py-2.5 px-2;
}
/* .custom-table tbody tr:last-child {
  @apply border-b-1 border-solid border-[#E2E8F0] dark:border-[#121212];
} */

.custom-table-fixed {
  @apply table-fixed;
}
.custom-table-fixed th:first-child {
  @apply sticky left-0 z-50;
}
.custom-table-fixed td:first-child {
  @apply sticky left-0;
}
.custom-table-fixed tr,
.custom-table-fixed th {
  @apply bg-[#F4F4F5] dark:bg-[#3F3F45];
}
.custom-table-fixed td {
  @apply bg-[#fff] dark:bg-[#18181B];
}
.custom-table-fixed tr:hover td {
  @apply bg-[#f6f6f9] dark:bg-[#29292c] !important;
}
